{% extends "base.html" %}
{% block content %}

<main>

<div class="vertical-align-middle center container">
    <div class="card-panel hoverable" id='main-card'>
        <h1 class="animated jackInTheBox header" id='dashbots'>Logviewer</h1>
        <h5 class="header col s12 light grey-text">This site will allow you to view your tickets logs.</h5>
        <br>
        <div class="row center">
            <a href="https://discord.gg/F9yPkvcTzY" class="btn waves-effect my-button">Discord</a>
            <a href="https://discord.gg/3XfN8AnTRpl" class="btn waves-effect my-button">Bot Testing Server</a>
            <br>
        </div>
    </div>
</div>

</main>

{% endblock %}
